<!-- Estendemos do template base -->
{% extends "app/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa pagina -->
{% block title %}Pagina Inicial{% endblock %}

<!-- Bloco de conteudo da nossa pagina -->
{% block conteudo %}
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Exclusao de Curso</h5>

        <p class="card-text">
          Voce tem certeza que quer excluir o Curso 
          <b>{{ cursos.nmCurso }}</b>?
        </p>

        <form method="post">
          {% csrf_token %}

          <hr />
          <div class="text-right">
            <a href="{% url 'app:lista_curso' %}" 
              class="btn btn-outline-danger">
                Cancelar
            </a>
            <button class="btn btn-danger">Excluir</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}